/* input */
.main__create {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  margin-top: 10px;
  width: 60%;
  max-width: 800px;
}
.create__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 62px;
}
.create__input input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 75%;
  max-width: 623px;
  max-height: 40px;
  margin-bottom: 20px;
  padding: 12px 17px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* role */
.create__role {
  width: 80%;
  max-width: 623px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}
.create__role > label {
  font-weight: 600;
  font-size: 17.5px;
  line-height: 21px;
}
.role__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 560px;
  height: 235px;
}
.role__sub {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
  border-right: 1px solid black;
}
.role__sub:nth-child(2n) {
  border-right: none;
}
.role__left {
  display: flex;
  align-items: center;
}
.role__left > label {
  margin-left: 5px;
}
.toggle {
  margin-left: 10px;
  cursor: pointer;
}
.sub__role {
  margin-top: 5px;
  display: none;
  /* chưa css được cho sub__role (read/write) */
}

/* action */
.action {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 50px;
}
.action--cancel {
  width: 100px;
  height: 35px;
  margin-right: 30px;
  border: 1.5px solid #ee4d2d;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}
.action--save {
  width: 100px;
  height: 35px;
  margin-right: 50px;
  background: #ee4d2d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}