/* information admin label */
.main__information {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 60%;
  max-width: 800px;
  margin-top: 10px;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.role__avatar {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 28px;
}
.role__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 75%;
  max-width: 623px;
  max-height: 40px;
  margin-bottom: 20px;
  padding: 12px 17px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/* action */
.action {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 50px;
}
.action > button {
  width: 100px;
  height: 35px;
  margin-right: 50px;
  background: #ee4d2d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}
